<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link rel="apple-touch-icon" sizes="180x180" href="static/images/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="static/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="static/images/favicon-16x16.png">
        <link rel="manifest" href="static/site.webmanifest">
        <meta name="author" content="Data for African Impact"/>
        <title>Data for African Impact</title>
        <meta name="description" content="We are an organization dedicated to leveraging data and technology to drive positive change and empower communities across Africa.">
        <link rel="stylesheet" type="text/css" href="./static/styles/base.css">
        <link rel="stylesheet" type="text/css" href="./static/styles/header.css">
        <link rel="stylesheet" type="text/css" href="./static/styles/footer.css">
        <link rel="stylesheet" type="text/css" href="./static/styles/drawer.css">
        <link rel="stylesheet" type="text/css" href="static/styles/cookies.css">
        <link rel="stylesheet" type="text/css" href="./static/styles/article.css">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="static/scripts/common.js"></script>
    </head>
    <body>
        <header>
            <div class="header">
                <div id="header_logo"></div>
                <img id="nav" src="static/images/menu_open.png" >
            </div>
            <div id="tagline">Transforming Africa Through Data</div>
            <div id="tagline2">Transforming Africa Through Data</div>
        </header>

        <div class="drawer">
            <a href="index.html">Home</a>
            <a href="about.html">About Us</a>
            <a href="projects.html">Projects</a>
            <a href="involved.html">Get Involved</a>
            <a href="blog.html">News & Events</a>
            <a href="contact.html">Contact Us</a>
        </div>

        <div class="title">
            <h1>News & Events</h1>
        </div>

        <article class="post">
            <div class="feature_image"></div>
            <br>
            <h1>Dummy post</h1>
            <br>
            <div class="meta">Written by Author | May 1 2023</div>
            <br><br>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum dignissim arcu semper fermentum. Phasellus sit amet sapien sit amet nisl pretium sollicitudin eget nec purus. Nam ex ante, convallis bibendum consequat quis, ornare id quam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Suspendisse a dui sit amet orci volutpat cursus. Aenean faucibus ante sem, ac porta libero ultrices nec. Pellentesque ut ligula commodo, dignissim magna tempus, porttitor leo. Proin ac ex nec odio dignissim mattis. Aliquam in sagittis tellus. Donec faucibus enim quis ullamcorper pellentesque. Vestibulum viverra eleifend urna vel euismod. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;</p>
            <p>Mauris aliquam ligula orci, at bibendum eros fermentum non. Nunc rutrum felis odio, a vehicula erat semper non. Quisque at molestie ante. Curabitur ullamcorper nulla vel felis egestas placerat. Duis posuere orci ipsum, eget maximus sapien maximus sed. Phasellus ligula nulla, rhoncus id rhoncus non, pulvinar sed sem. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc tellus quam, venenatis sit amet lectus vel, egestas lobortis enim. Donec nibh erat, efficitur a urna eu, vestibulum dictum sapien. Praesent sodales lacinia est quis rutrum. Nam at eros tempor, sodales nulla vitae, egestas felis. Proin pretium a libero quis vestibulum. Aenean luctus leo ac libero maximus, et porttitor felis vestibulum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer id tincidunt lectus. Etiam rhoncus tempus aliquam.</p>
            <p>Etiam auctor dolor vitae mauris molestie, quis egestas nulla euismod. Duis consectetur, neque ut convallis pulvinar, ante risus tincidunt ex, sed pharetra dui lectus a eros. Vestibulum varius purus vitae metus rhoncus luctus. Quisque blandit efficitur tellus, vel varius diam cursus a. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin auctor magna vitae nibh sollicitudin, tempor malesuada tellus iaculis. Sed sed accumsan nulla. Proin sit amet libero vel quam fringilla suscipit. Maecenas faucibus aliquam lacinia. Donec quis ultrices metus. Mauris arcu ipsum, aliquet eget aliquam at, ornare ac lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean eu erat pulvinar, tincidunt justo non, ullamcorper diam.</p>
            <p>Aliquam in leo viverra dolor venenatis sagittis. Aenean massa justo, ultricies nec justo non, venenatis tempus massa. Donec non facilisis magna. Maecenas viverra consectetur mi ac congue. Proin commodo, erat eu rhoncus varius, sem mauris dictum quam, accumsan tincidunt nulla neque id nisi. Aenean nec erat odio. Pellentesque in sem facilisis, egestas quam eu, ullamcorper nulla.</p>
            <p>Cras mi lectus, vestibulum quis risus in, venenatis pulvinar orci. Maecenas a facilisis purus. Curabitur tincidunt scelerisque porta. Aliquam dictum ex dictum dui pellentesque sollicitudin. Praesent et quam nulla. Integer luctus venenatis diam. Ut pretium ipsum tortor, sed volutpat nibh molestie id. Sed eu scelerisque neque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Etiam porta consequat dolor nec placerat.</p>
        </article>

        <footer>
            <div class="container">
                <div class="main">
                    <div class="footer1">
                        <img class="logo" src="static/images/logo.png">
                        <br>
                        <div>Transforming Africa Through Data</div>
                    </div>
                    <div class="divider"></div>
                    <div class="footer2">
                        <h3>FIND US ON SOCIAL MEDIA</h3>
                        <div class="social">
                            <a href="https://www.facebook.com/" target="_blank"><img src="static/images/f_logo.png" title="Facebook"/></a>
                            <a href="https://www.twitter.com/" target="_blank"><img src="static/images/t_logo.png" title="Twitter"/></a>
                            <a href="https://www.linkedin.com/" target="_blank"><img src="static/images/l_logo.png" title="LinkedIn"/></a>
                        </div>
                        <br><br>
                        <h3>CONTACT D4AI</h3>
                        <a href="tel:+254723713247">(+254)723713247</a>
                        <br>
                        <br>
                        <a href="mailto:info@d4ai.org">contact@d4ai.org</a>

                    </div>
                    <div class="divider"></div>
                    <div class="footer3">
                        <h3>SUBSCRIBE TO OUR NEWSLETTER</h3>
                        <div class="subscribe">
                            <input type="text" placeholder="First name">
                            <input type="text" placeholder="Last name">
                            <input type="email" placeholder="Email address">
                            <button>Sign up</button>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="footer4">
                        <h3>QUICK LINKS</h3>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="projects.html">Projects</a></li>
                            <li><a href="involved.html">Get Involved</a></li>
                            <li><a href="blog.html">News & Events</a></li>
                            <li><a href="contact.html">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer">© 2023 Data for African Impact</div>
        </footer>

        <div class="cookies">
            <img class="close" src="static/images/menu_close.png" >
            <h3>About cookies on this site</h3>
            <div class="container">
                <p>Our websites require some cookies to function properly (required). In addition, other cookies may be used with your consent to analyze site usage, improve the user experience.</p>
                <p>For more information, please review your <a>cookie preferences</a> options. By visiting our website, you agree to our processing of information as described in D4AI's’s privacy statement.</p>
                <div>
                    <button>Accept all</button>
                    <button>Required only</button>
                </div>
            </div>
        </div>

    </body>
</html>
