{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, maximum-scale=1.0, user-scalable=no">

        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'core/images/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'core/images/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'core/images/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'core/site.webmanifest' %}">
        <meta name="author" content="Data for African Impact"/>
        <meta name="description" content="We are an organization dedicated to leveraging data and technology to drive positive change and empower communities across Africa.">
        <link rel="stylesheet" type="text/css" href="{% static 'core/styles/base.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'core/styles/header.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'core/styles/footer.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'core/styles/cookies.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'core/styles/drawer.css' %}">

        {% block head %}
        {% endblock head %}
        
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="{% static 'core/scripts/common.js' %}"></script>

        <script type="application/ld+json">
            {
                "@context": "https://schema.org",
                "@graph": [
                {
                    "@id": "#site",
                    "@type": "Website",
                    "name": "Data for African Impact",
                    "author": "Leroy Buliro",
                    "description": "Leveraging data and technology to drive positive change and empower communities across Africa.",
                    "url": "https://www.d4ai.org",
                    "schemaVersion": "10.0",
                    "keywords": "Africa, data, technology, data science",
                }
                ]
            }
        </script>
    </head>
    <body>
        <header>
            <div class="header">
                <div id="header_logo"></div>
                <img id="nav" src="{% static 'core/images/menu_open.png' %}" >
            </div>
            <div id="tagline">Transforming Africa Through Data</div>
        </header>

        <div class="drawer">
            {% block menu %}
            {% endblock menu %}
        </div>

        {% block page %}
        {% endblock page %}

        <footer>
            <div class="container">
                <div class="main">
                    <div class="footer1">
                        <img class="logo" src="{% static 'core/images/logo.png' %}">
                        <br>
                        <div>Transforming Africa Through Data</div>
                    </div>
                    <div class="divider"></div>
                    <div class="footer2">
                        <h3>FIND US ON SOCIAL MEDIA</h3>
                        <div class="social">
                            <a href="https://www.facebook.com/" target="_blank"><img src="{% static 'core/images/f_logo.png' %}" title="Facebook"/></a>
                            <a href="https://www.twitter.com/" target="_blank"><img src="{% static 'core/images/t_logo.png' %}" title="Twitter"/></a>
                            <a href="https://www.linkedin.com/" target="_blank"><img src="{% static 'core/images/l_logo.png' %}" title="LinkedIn"/></a>
                        </div>
                        <br><br>
                        <h3>CONTACT D4AI</h3>
                        <a href="tel:+254723713247">(+254)723713247</a>
                        <br>
                        <br>
                        <a href="mailto:contact@d4ai.org">contact@d4ai.org</a>

                    </div>
                    <div class="divider"></div>
                    <div class="footer3">
                        <h3>SUBSCRIBE TO OUR NEWSLETTER</h3>
                        <div class="subscribe">
                            <input type="text" placeholder="First name">
                            <input type="text" placeholder="Last name">
                            <input type="email" placeholder="Email address">
                            <button>Sign up</button>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="footer4">
                        <h3>QUICK LINKS</h3>
                        <ul>
                            {% block quicklinks %}
                            {% endblock quicklinks %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer">© 2023 Data for African Impact</div>
        </footer>
        
        <div class="cookies">
            <img class="close" src="{% static 'core/images/menu_close.png' %}" >
            <h3>About cookies on this site</h3>
            <div class="container">
                <p>Our websites require some cookies to function properly (required). In addition, other cookies may be used with your consent to analyze site usage, improve the user experience.</p>
                <p>For more information, please review your <a>cookie preferences</a> options. By visiting our website, you agree to our processing of information as described in D4AI's privacy statement.</p>
                <div>
                    <button>Accept all</button>
                    <button>Required only</button>
                </div>
            </div>
        </div>
        
    </body>
</html>
