{% extends 'core/base.html'}
{% load static %}
{% load i18n %}

{% block head %}
<title>Home | Data for African Impact</title>
<link rel="stylesheet" type="text/css" href="{% static 'core/styles/index.css' %}">
<script type="text/javascript" src="{% static 'core/scripts/index.js' %}"></script>
{% endblock head %}

{% block menu %}
<a href="{% url 'core:index' %}">Home</a>
<a href="{% url 'core:about' %}">About Us</a>
<a href="{% url 'core:projects' %}">Projects</a>
<a href="{% url 'core:involved' %}">Get Involved</a>
<a href="{% url 'core:blog' %}">News & Events</a>
<a href="{% url 'core:contact' %}">Contact Us</a>
{% endblock menu %}

{% block page %}
<div class="home">
    <img src="{% static 'core/images/Data- For- HomePage.jpg' %}" alt="Data for African Impact"/>
    
    <div class="inner">
        <section class="about">
            <div>
                <h1>We were founded to harness the power of data science to drive positive change and sustainable development in Africa</h1>
                <p>D4AI focuses on addressing social, economic, and environmental challenges through data-driven solutions. We aim to provide access to relevant data, promote data literacy, and foster collaboration among stakeholders to create lasting impact.</p>
                <br>
                <p>We firmly believe that data-driven solutions have the capacity to transform lives, empower communities, and catalyze progress. With this belief, we are dedicated to providing data science training and solutions that empower individuals, organizations, and communities across Africa. Our team of experts, coming from diverse backgrounds, shares a common passion for creating meaningful impact and driving sustainable development.</p>
            </div>
        </section>
    </div>

    <div class="inner">
        <h1 style="text-align: center; text-transform: uppercase;">Chasing our vision of a data-driven Africa</h1>
    </div>
    <div class="slider">
        <div class="slide">
            <img src="{% static 'core/images/Data_ Skills Training.jpg' %}" alt="Image 1">
            <div class="caption">Data Science Training</div>
        </div>
        <div class="slide">
            <img src="{% static 'core/images/Research_in_Data Science.jpg' %}" alt="Image 2">
            <div class="caption">Research and Innovation</div>
        </div>
        <div class="slide">
            <img src="{% static 'core/images/Impact.jpg' %}" alt="Image 3">
            <div class="caption">Outreach to promote data science literacy</div>
        </div>
        <div class="slide">
            <img src="{% static 'core/images/Youth_Empowerment.jpg' %}" alt="Image 3">
            <div class="caption">Mentorship for emerging data scientists and professionals</div>
        </div>
        <div class="slide">
            <img src="{% static 'core/images/Data Science Adovacy_or_Outreach.png' %}" alt="Image 3">
            <div class="caption">Advocacy for policies and regulations that support data science</div>
        </div>
    </div>
      
    <div class="fw">
        <div class="impact">
            <h1>Our Impact</h1>
            <div class="impacts">
                <div class="item">
                    <div><p>Created an inclusive environment where women can effectively leverage data, break barriers, and catalyze meaningful change. Our goal is to empower women to embrace new opportunities, challenge norms, and make a lasting impact through the transformative power of data.</p></div>
                    <img src="{% static 'core/images/Youth_Empowerment.jpg' %}">
                </div>
                <div class="item">
                    <img src="{% static 'core/images/Team_Solving _A problem.jpg' %}">
                    <div><p>Built a strong and collaborative network that leverages data science expertise to address real-world challenges. By bringing together talented individuals and providing them with the necessary resources and support, we empower this community to make a tangible difference in various domains.</p></div>
                </div>
                <div class="item">
                    <div><p>By unlocking the potential of data, we gave individuals and organizations the tools, knowledge, and resources to harness the full potential of their data by enabling them to make informed decisions, gain valuable insights, and drive innovation.</p></div>
                    <img src="{% static 'core/images/Data_ Skills Training.jpg' %}">
                </div>
            </div>
            <div class="button-container">
                <a href="projects.html">SEE IMPACT STORIES -></a>
              </div>
              
        </div>
    </div>

    <div class="inner">
        <div class="partners">
            <h1>Partners</h1>
            <div class="items">
                <img src="{% static 'core/images/logo.png' %}" alt="">
                <img src="{% static 'core/images/logo.png' %}" alt="">
                <img src="{% static 'core/images/logo.png' %}" alt="">
                <img src="{% static 'core/images/logo.png' %}" alt="">
                <img src="{% static 'core/images/logo.png' %}" alt="">
                <img src="{% static 'core/images/logo.png' %}" alt="">
                <img src="{% static 'core/images/logo.png' %}" alt="">
            </div>
        </div>
    </div>

</div>
{% endblock page %}

{% block quicklinks %}
<li><a href="{% url 'core:index' %}">Home</a></li>
<li><a href="{% url 'core:about' %}">About Us</a></li>
<li><a href="{% url 'core:projects' %}">Projects</a></li>
<li><a href="{% url 'core:involved' %}">Get Involved</a></li>
<li><a href="{% url 'core:blog' %}">News & Events</a></li>
<li><a href="{% url 'core:contact' %}">Contact Us</a></li>
{% endblock quicklinks %}
