.blog {
    padding: 0 19vw;
    margin: 24px 0;
}

p > span {
    text-align: left;
    text-decoration: dashed;
    color: var(--blue);
}

.blog section {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    margin-top: 40px;
}

.blog article {
    display: grid;
    display: -webkit-grid;
    display: -ms-grid;
    grid-template-columns: 1fr 2fr;
    -webkit-grid-template-columns: 1fr 2fr;
    -ms-grid-template-columns: 1fr 2fr;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
    margin-bottom: 80px;
}

.blog article:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.blog article img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 3 / 2;
    -webkit-aspect-ratio: 3 / 2;
    -moz-aspect-ratio: 3 / 2;
    -ms-aspect-ratio: 3 / 2;
    -o-aspect-ratio: 3 / 2;
}

.blog article div {
    padding-top: 20px;
}

.blog article a {
    text-decoration: none;
}

@media only screen and (max-width: 960px) {
    .blog {
        padding: 0 3vw;
    }
}

@media only screen and (max-width: 767px) {
    .blog article {
        display: grid;
        display: -webkit-grid;
        display: -ms-grid;
        grid-template-columns: 1fr;
        -webkit-grid-template-columns: 1fr;
        -ms-grid-template-columns: 1fr;
        box-shadow: none;
        transition: none;
    }

    .blog article div {
        padding-top: 0;
    }
}
