footer {
    background: #1d1e21;
}

.container {
    margin: 0 19vw;
    padding: 30px 0;
}

.container > p, h3, span {
    color: #FFFFFF;
}

.container h3 {
    margin-bottom: 10px;
}

.container a {
    font-size: 14px;
    text-decoration: none;
    color: #FFFFFF;
}

.container a:hover {
    text-decoration: underline;
}

.container .main {
    margin-bottom: 3%;
    display: grid;
    display: -webkit-grid;
    display: -ms-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -webkit-grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 1fr 1fr 1fr; 
    gap: 30px;
}

.footer1 .logo {
    height: 70px;
    width: auto;
}

.footer1 div {
    margin-top: 18px;
    color: #FFFFFF;
    font-size: 14px;
}

.footer2 .social {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    gap: 18px;
}

.footer2 .social img {
    height: 20px;
    width: auto;
    background-color: #ffffff25;
    padding: 8px;
}

.footer2 .social img:hover {
    background-color: #4170b750;
}

.footer3 .subscribe {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    display: -webkit-grid;
    -webkit-grid-template-columns: 1fr;
    display: -ms-grid;
    -ms-grid-columns: 1fr;
    gap: 14px;
}

.footer3 .subscribe input {
    background-color: transparent;
    border: none;
    border-bottom: 1px #FFFFFF solid;
    color: #FFFFFF;
    width: calc(100% - 8px);
    width: -webkit-calc(100% - 8px);
    width: -ms-calc(100% - 8px);
    font-size: 14px;
    padding: 2px 4px;
}

.footer3 .subscribe button {
    width: 100%;
    background-color: var(--blue);
    border: none;
    font-size: 14px;
    color: #FFFFFF;
    padding: 4px 0px;
    cursor: pointer;
}

.footer4 ul {
    padding-left: 12px;
    color: #FFFFFF;
}

.footer4 ul li {
    margin-bottom: 4px;
}

.main .divider {
    display: none;
    height: 1px;
    background-color: silver;
    margin: 10px 0;
}

.footer {
    width: 100vw;
    background-color: var(--blue);
    color: #FFFFFF;
    font-size: 14px;
    text-align: center;
    padding: 2vh 0;
}

@media only screen and (min-width: 768px) and (max-width: 960px) {
    .container {
        margin: 0 3vw;
    }
}

@media only screen and (max-width: 767px) {
    .container {
        margin: 0 3vw;
        padding: 15px 0;
    }

    .container .main {
        grid-template-columns: 1fr;
        -webkit-grid-template-columns: 1fr;
        -ms-grid-columns: 1fr;
    }

    .main .divider {
        display: block;
    }
}
