/* ====================================================================================

HOME SECTION

=======================================================================================*/

.home {
    position: relative;
    top: 0;
}

.home .inner {
    padding: 0 19vw;
}

.inner h1 {
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 8vh;
}

.home .fw {
    padding: 0;
}

.fw h1 {
    color: #000000;
    text-align: center;
    text-transform: uppercase;
}

@media only screen and (max-width: 960px) {
    .home .inner {
        padding: 0 3vw;
    }
    .inner h1 {
        font-size: 20px;
        margin-bottom: 2vh;
    }    
    .fw h1 {
        font-size: 20px;
    }
}

/* ====================================================================================

INTRO SECTION

=======================================================================================*/

.home img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    -o-object-fit: cover;
}

@media only screen and (max-width: 767px) {
    .home img {
        height: auto;
        object-fit: fill;
        -o-object-fit: fill;
    }
}

/* ====================================================================================

ABOUT SECTION

=======================================================================================*/

.about {
    margin: 8vh 0;
}

.about h1 {
    text-align: left;
    color: #000000;
}

.about div p {
    color: #000000;
    line-height: 2em;
    margin-bottom: 20px;
}

.read-more-button {
    color: var(--blue);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    font-family: 'Cambria', sans-serif;
    font-size: 14px;
}

@media only screen and (max-width: 810px) {    
    .about iframe {
        width: 100%;
        height: auto;
    }

    .about div h1 {
        text-align: center;
    }
    
    .about div p {
        text-align: center;
    }

    .read-more-button {
        display: flex;
        margin: auto;
    }
}

/* ====================================================================================

SLIDER SECTION

=======================================================================================*/

.slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 500px;
    /* height: auto;
    aspect-ratio: 4 / 3;
    -webkit-aspect-ratio: 4 / 3; */
    margin: 8vh 0;
}
  
.slide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    right: -100%; 
    transition: right 0.8s, opacity 0.8s;
}

.slide.active {
    right: 0;
    opacity: 1;
}

.slide.previous {
    right: 100%;
}

.slide.next {
    right: -100%;
}

.slide img {
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 3;
    -webkit-aspect-ratio: 4 / 3;
}

.caption {
    position: absolute;
    bottom: 40%;
    right: -100%;
    color: var(--yellow);
    padding: 10px;
    transition: right 2s;
    font-size: 2rem;
    text-shadow: 2px 2px 2px #000000;
    width: 400px;
}

.slide.active .caption {
    right: 8%;
}
  
@media only screen and (max-width: 767px) { 
    .caption {
        font-size: 1.1rem;
        max-width: 150px;
        bottom: 20%;
        width: 300px;
    }
    .slide.active .caption {
        right: 0;
    }
}


/* ====================================================================================

IMPACT SECTION

=======================================================================================*/

.impact .impacts {
    width: 100vw;
    margin-top: 8vh;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    background-color: #e7dfdf;
}

.impact .impacts .item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    display: -webkit-grid;
    -webkit-grid-template-columns: 1fr 1fr;
    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr; 
}

.impact .impacts .item div {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
}

.impact .impacts .item div p {
    margin: auto;
    padding: 0 4%;
}

.impact .impacts .item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 7 / 4;
    -webkit-aspect-ratio: 7 / 4;
    -moz-aspect-ratio: 7 / 4;
    -ms-aspect-ratio: 7 / 4;
    -o-aspect-ratio: 7 / 4;
}

.button-container {
    display: flex;
    justify-content: center;
}
  
.button-container a {
    margin: 4vh 0;
    cursor: pointer;
    padding: 14px 20px;
    border: none;
    background-color: var(--green);
    color: #FFFFFF;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
}

.button-container a:hover {
    background-color: #4170b7;
}

@media only screen and (max-width: 767px) {
    .impact .impacts .item {
        display: flex;
        display: -webkit-flex;
        display: -ms-flexbox;
        flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
    }

    .impact .impacts .item:nth-child(2) {
        flex-direction: column-reverse;
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
    }

    .impact .impacts .item div {
        width: 100vw;
        height: 200px;
        text-align: center;
    }
}

/* ====================================================================================

PARTNERS SECTION

=======================================================================================*/

.partners {
    margin: 8vh 0;
}

.partners .items {
    margin-top: 8vh;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: center;
    justify-content: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    align-items: center;
    -webkit-align-items: center;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    flex-wrap: wrap;
    gap: 20px;
}

.partners .items img {
    height: 180px;
    width: 180px;
    object-fit: fill;
    -o-object-fit: fill;
    -moz-object-fit: fill;
    -webkit-object-fit: fill;
}

@media only screen and (min-width: 768px) and (max-width: 810px) {
    .partners {
        margin: 8vh 0;
    }
    .partners .items img {
        height: 120px;
        width: 120px;
    }
}

@media only screen and (max-width: 767px) {
    .partners .items img {
        height: 80px;
        width: 80px;
    }
}
