{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}

{% block head %}
<title>About Us | Data for African Impact</title>
<link rel="stylesheet" type="text/css" href="{% static 'core/styles/about.css' %}">
{% endblock head %}

{% block menu %}
<a href="{% url 'core:index' %}">Home</a>
<a href="{% url 'core:about' %}">About Us</a>
<!-- <a href="{% url 'core:projects' %}">Projects</a>
<a href="{% url 'core:involved' %}">Get Involved</a> -->
<a href="{% url 'core:blog' %}">News & Events</a>
<a href="{% url 'core:contact' %}">Contact Us</a>
{% endblock menu %}

{% block page %}
<div class="title">
    <h1>About D4AI</h1>
</div>

<div class="about">
    <h1>Our Story</h1>
    <div>
        <p>D4AI was founded by passionate individuals who shared a vision of harnessing the power of data science to drive positive change and sustainable development in Africa. Recognizing the immense potential that data holds in addressing pressing challenges faced by African communities, our journey began with a deep understanding of the socioeconomic landscape.</p>
        <p>We firmly believe that data-driven solutions have the capacity to transform lives, empower communities, and catalyze progress. With this belief, we are dedicated to providing data science training and solutions that empower individuals, organizations, and communities across Africa. Our team of experts, coming from diverse backgrounds, shares a common passion for creating meaningful impact and driving sustainable development.</p>
        <div id="about_more">
            <p>As we look ahead, we are committed to expanding our reach, deepening our impact, and fostering a culture of data literacy throughout the African continent. We invite you to join us on this transformative journey of collaboration and empowerment. Together, let us harness the power of data for African impact.</p>
            <p>Thank you for being a part of our story.</p>
        </div>
        <button class="read-more-button">Read More</button>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#about_more').hide();
            $('.read-more-button').click(function() {
                $('#about_more').fadeIn(3000);
                $('.read-more-button').hide();
            });
        });
    </script>
    <section class="about1">

        <div class="item">
            <div class="container">
                <img src="{% static 'core/images/lightbulb.svg' %}">
                <h1>Core Values</h1>
            </div>
            <div class="container">
                <p>Impact</p>
                <p>Empowerment</p>
                <p>Collaboration</p>
                <p>Integrity</p>
            </div>
        </div>
        <div class="item">
            <div class="container">
                <img src="{% static 'core/images/handshake.svg' %}">
                <h1>Our Vision</h1>
            </div>
            <div class="container">
                <p>A data-driven Africa, solving complex challenges and improving lives</p>
            </div>
        </div>
        <div class="item">
            <div class="container">
                <img src="{% static 'core/images/lightbulb.svg' %}">
                <h1>Our focus</h1>
            </div>
            <div class="container">
                <p>Outreach to promote data science literacy</p>
                <p>Provide data science training to target groups</p>
                <p>Provide research-driven solutions for societal challenges</p>
                <p>Build a network of data scientists </p>
            </div>
        </div>
    </section>

    <h1>Meet the Team</h1>
    <div class="team">
        <div class="team-member">
            <img src="{% static 'core/images/Rosaline.png' %}">
            <h4>Rosaline Macharia, PhD</h4>
            <p class="bio">Rosaline Macharia is the founder of D4AI and currently holds the position of Chairperson within the organization. At D4AI, Rosaline takes the lead in spearheading resource mobilization and partnership initiatives. With extensive expertise in bioinformatics, she is dedicated to harnessing the power of data-driven solutions to drive positive change in Africa. Rosaline's visionary leadership plays a pivotal role in advancing D4AI's mission of empowering communities across the continent.</p>
        </div>
        <div class="team-member">
            <img src="{% static 'core/images/Ian.png' %}">
            <h4>Ian Kaniu, PhD</h4>
            <p class="bio">Ian Kaniu is a physicist and co-founder of D4AI. He currently holds the position of Secretary and also serves as the Head of Program Development. Ian is deeply committed to leveraging data and technology to drive positive change in Africa and has been instrumental in developing innovative data-driven solutions.</p>
        </div>
        <div class="team-member">
            <img src="{% static 'core/images/Caroline.png' %}">
            <h4>Caroline Wangui</h4>
            <p class="bio">Caroline Wangui is an Economist with a deep understanding of the socio-economic landscape and currently holds the position of Treasurer. She also serves as the head of Operations and Administration at D4AI. With her expertise and skills, Caroline ensures smooth operations including logistics and financial aspects of D4AI's projects and initiatives.</p>
        </div>
        <div class="team-member">
            <img src="{% static 'core/images/Rachel.png' %}">
            <h4>Rachel Okeyo, PhD</h4>
            <p class="bio">Rachel is a skilled research scientist who currently heads the Monitoring and Evaluation docket at D4AI. In her role, she implements systems to monitor D4AI's activities and progress, ensuring the timely and quality delivery of services. Rachel is dedicated to disseminating learnings for the advancement of D4AI's mission, leveraging her expertise to track and evaluate the organization's impact.</p>
        </div>
        <div class="team-member">
            <img src="{% static 'core/images/Charles.png' %}">
            <h4>Charles Ndung’u</h4>
            <p class="bio">Charles is a physicist and Head of Training and Capacity Building at D4AI. He is an expert in R and Python data analysis, machine learning, and artificial intelligence. His true passion lies in sharing these skills with young minds. Through engaging instruction, Charles inspires and empowers the next generation of data scientists, fueling their growth and success in this dynamic field.</p>
        </div>
    </div>
    
    <script type="text/javascript">
        $(document).ready(function() {
            // Hide text and add "Read more" link
            $(".bio").each(function() {
                var text = $(this).text();
                var cutoffIndex = text.indexOf(".", text.indexOf(".") + 1);
                var visibleText = text.substring(0, cutoffIndex + 1).trim();
                var hiddenText = text.substring(cutoffIndex + 1).trim();
                $(this).html(visibleText + ' <a class="read-more" style="color: var(--blue) cursor: pointer;;">Read more...</a><span class="hidden-text" style="display: none;">' + hiddenText + '</span>');
            });
    
            // Handle "Read more" click
            $(".team-member .read-more").click(function() {
                var hiddenText = $(this).siblings(".hidden-text");
                $(this).hide();
                hiddenText.animate({ opacity: 1 }, 3000); // Adjust duration as needed
                hiddenText.css({ color: 'black', display: 'block' });
            });
        });
    </script>
    
    
    <br><br><br>
</div>
{% endblock page %}

{% block quicklinks %}
<li><a href="{% url 'core:index' %}">Home</a></li>
<li><a href="{% url 'core:about' %}">About Us</a></li>
<!-- <li><a href="{% url 'core:projects' %}">Projects</a></li>
<li><a href="{% url 'core:involved' %}">Get Involved</a></li> -->
<li><a href="{% url 'core:blog' %}">News & Events</a></li>
<li><a href="{% url 'core:contact' %}">Contact Us</a></li>
{% endblock quicklinks %}
