{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}

{% block head %}
<title>Data for African Impact</title>
<link rel="stylesheet" type="text/css" href="{% static 'core/styles/article.css' %}">
{% endblock head %}

{% block menu %}
<a href="{% url 'core:index' %}">Home</a>
<a href="{% url 'core:about' %}">About Us</a>
<!-- <a href="{% url 'core:projects' %}">Projects</a>
<a href="{% url 'core:involved' %}">Get Involved</a> -->
<a href="{% url 'core:blog' %}">News & Events</a>
<a href="{% url 'core:contact' %}">Contact Us</a>
{% endblock menu %}

{% block page %}
<div class="title">
    <h1>News & Events</h1>
</div>

<article class="post">
    <h1>{{ article.title }}</h1>
    <br>
    <div class="meta">Written by {{ article.writer }} | {{ article.publishdate }}</div>
    <br><br>
    <img class="feature_image" src="{{ article.featureimage.url }}" alt="{{ article.title }}"/>
    <div class="content">
        {{ article.content | safe }}
    </div>
</article>
{% endblock page %}

{% block quicklinks %}
<li><a href="{% url 'core:index' %}">Home</a></li>
<li><a href="{% url 'core:about' %}">About Us</a></li>
<!-- <li><a href="{% url 'core:projects' %}">Projects</a></li>
<li><a href="{% url 'core:involved' %}">Get Involved</a></li> -->
<li><a href="{% url 'core:blog' %}">News & Events</a></li>
<li><a href="{% url 'core:contact' %}">Contact Us</a></li>
{% endblock quicklinks %}
