{% spaceless %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-06HXZLTFRH"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-06HXZLTFRH');
        </script>

        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no >

        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'core/images/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'core/images/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'core/images/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'core/site.webmanifest' %}">
        <meta name="author" content="Data for African Impact"/>
        <meta name="description" content="We are an organization dedicated to leveraging data and technology to drive positive change and empower communities across Africa.">
        <link rel="canonical" href="https://www.d4ai.org/" />
        <link rel="stylesheet" type="text/css" href="{% static 'core/styles/base.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'core/styles/header.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'core/styles/footer.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'core/styles/cookies.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'core/styles/drawer.css' %}">

        {% block head %}
        {% endblock head %}
        
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <!-- <script type="text/javascript" src="{% static 'core/scripts/common.js' %}"></script> -->
        <script type="application/ld+json">
            {
              "@context": "https://schema.org",
              "@type": "Organization",
              "name": "Data for African Impact",
              "url": "https://www.d4ai.org",
              "description": "We are an organization dedicated to leveraging data and technology to drive positive change and empower communities across Africa.",
              "logo": "https://www.d4ai.org/static/core/images/logo.png",
              "keywords": "Africa, data, technology, data science",
              "address": {
                "@type": "PostalAddress",
                "streetAddress": "Nairobi",
                "addressLocality": "Nairobi City",
                "addressRegion": "Nairobi County",
                "postalCode": "",
                "addressCountry": "Kenya"
              },
              "contactPoint": {
                "@type": "ContactPoint",
                "telephone": "",
                "contactType": "customer service"
              }
            }
          </script>
        <script type="text/javascript">
            $(document).ready(function() {
    
                $('#nav').attr('src', "{% static 'core/images/menu_open.png' %}");
                
                // Click event handler for the image element
                $('#nav').on('click', function() {
                    var $img = $(this);
                    var $drawer = $('.drawer');
                    
                    // Check the current src value
                    if ($img.attr('src') === "{% static 'core/images/menu_open.png' %}") {
                    // Change the src to the new image
                    $img.attr('src', "{% static 'core/images/menu_close.png' %}");
                    $drawer.css('display', 'flex');
                    $drawer.css('display', '-webkit-flex');
                    $drawer.css('display', '-ms-flexbox');
                    // $drawer.show();
                
                    } else {
                    // Change the src back to the original image
                    $img.attr('src', "{% static 'core/images/menu_open.png' %}");
                    $drawer.css('display', 'none');
                    }
                });

                let message = $('.popmessage');
                
                $(document).ready(function(){
                    message.fadeIn(2000)
                    setTimeout(()=>{
                        message.fadeOut(2000)
                    },6000)
                    
                    // Check Radio-box
                    $(".rating input:radio").attr("checked", false);
                    
                    $('.rating input').click(function () {
                        $(".rating span").removeClass('checked');
                        $(this).parent().addClass('checked');
                    });
                });
            });
        </script>
    </head>
    <body>
        {% if messages %}
        {% for message in messages %}
        <div class="popmessage">
            <p class="message">{{ message }}</p>
        </div>
        {% endfor %}
        {% endif %}
        <noscript>
            <div style="display: flex; place-content: center; background-color: tomato;">
                <p style="color: #fff; padding: 7px 0">Javascript not supported on your browser, please enable Javascript in order to fully utilize the website</p>
            </div>
        </noscript>
        <header>
            <div class="header">
                <div id="header_logo"></div>
                <img id="nav"/>
            </div>
            <div id="tagline">Transforming Africa Through Data</div>
        </header>

        <div class="drawer">
            {% block menu %}
            {% endblock menu %}
        </div>

        {% block page %}
        {% endblock page %}

        <footer>
            <div class="container">
                <div class="main">
                    <div class="footer1">
                        <img class="logo" src="{% static 'core/images/logo.png' %}" alt="D4AI Logo">
                        <br>
                        <div>Transforming Africa Through Data</div>
                    </div>
                    <div class="divider"></div>
                    <div class="footer2">
                        <h3>FIND US ON SOCIAL MEDIA</h3>
                        <div class="social">
                            <a href="https://www.facebook.com/" aria-label="Facebook" target="_blank"><img src="{% static 'core/images/f_logo.png' %}" title="Facebook"/></a>
                            <a href="https://www.twitter.com/" aria-label="X" target="_blank"><img src="{% static 'core/images/x_logo.png' %}" title="X"/></a>
                            <a href="https://www.linkedin.com/" aria-label="LinkedIn" target="_blank"><img src="{% static 'core/images/l_logo.png' %}" title="LinkedIn"/></a>
                        </div>
                        <br><br>
                        <h3>CONTACT D4AI</h3>
                        <!-- <a href="tel:+254723713247">(+254)723713247</a> -->
                        <!-- <br> -->
                        <!-- <br> -->
                        <a href="mailto:info@d4ai.org" aria-label="info@d4ai.org">info@d4ai.org</a>

                    </div>
                    <div class="divider"></div>
                    <div class="footer3">
                        <h3>SUBSCRIBE TO OUR NEWSLETTER</h3>
                        <form class="subscribe" method="post">{% csrf_token %}
                            <input type="text" placeholder="First name" name="first_name" required>
                            <input type="text" placeholder="Last name" name="last_name" required>
                            <input type="email" placeholder="Email address" name="email" required>
                            <button type="submit" name="submit_subscribe">Sign up</button>
                        </form>
                    </div>
                    <div class="divider"></div>
                    <div class="footer4">
                        <h3>QUICK LINKS</h3>
                        <ul>
                            {% block quicklinks %}
                            {% endblock quicklinks %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer">© 2023 Data for African Impact</div>
        </footer>
        
        <!-- <div class="cookies">
            <img class="close" src="{% static 'core/images/menu_close.png' %}" >
            <h3>About cookies on this site</h3>
            <div class="container">
                <p>Our websites require some cookies to function properly (required). In addition, other cookies may be used with your consent to analyze site usage, improve the user experience.</p>
                <p>For more information, please review your <a>cookie preferences</a> options. By visiting our website, you agree to our processing of information as described in D4AI's privacy statement.</p>
                <div>
                    <button>Accept all</button>
                    <button>Required only</button>
                </div>
            </div>
        </div> -->
        
    </body>
</html>
{% endspaceless %}
