{% spaceless %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-06HXZLTFRH"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-06HXZLTFRH');
        </script>

        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

        <link rel="canonical" href="https://www.d4ai.org/" />
        <meta name="description" content="We are an organization dedicated to leveraging data and technology to drive positive change and empower communities across Africa.">
        <meta name="author" content="Data for African Impact"/>
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'core/images/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'core/images/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'core/images/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'core/site.webmanifest' %}">

        <link rel="stylesheet" type="text/css" href="{% static 'core/styles/base.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'core/styles/footer.css' %}">

        {% block head %}
        {% endblock head %}
        
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="{% static 'core/scripts/main.js' %}"></script>

        <script type="text/javascript">
            $(document).ready(function() {

                let message = $('.popmessage');
                
                $(document).ready(function(){
                    message.fadeIn(2000)
                    setTimeout(()=>{
                        message.fadeOut(2000)
                    },6000)
                    
                    // Check Radio-box
                    $(".rating input:radio").attr("checked", false);
                    
                    $('.rating input').click(function () {
                        $(".rating span").removeClass('checked');
                        $(this).parent().addClass('checked');
                    });
                });
            });
        </script>
    </head>
    <body>
        {% if messages %}
        {% for message in messages %}
        <div class="popmessage">
            <p class="message">{{ message }}</p>
        </div>
        {% endfor %}
        {% endif %}
        <noscript>
            <div style="display: flex; place-content: center; background-color: tomato;">
                <p style="color: #fff; padding: 7px 0">Javascript not supported on your browser, please enable Javascript in order to fully utilize the website</p>
            </div>
        </noscript>
        <header>
            <div class="header">
                <div id="header_logo"></div>
                <div class="hamburger">
                    <input type="checkbox" id="menu-btn" class="menu-btn">
                    <label for="menu-btn" class="menu-icon">
                        <span class="navicon"></span>
                    </label>
                </div>
            </div>
            <div id="tagline">Transforming Africa Through Data</div>
        </header>

        <nav>
            {% block menu %}
            {% endblock menu %}
        </nav>

        {% block page %}
        {% endblock page %}

        <footer>
            <div class="container">
                <div class="main">
                    <div class="footer1">
                        <img class="logo" src="{% static 'core/images/logo.png' %}" alt="D4AI Logo">
                        <br>
                        <div>Transforming Africa Through Data</div>
                    </div>
                    <div class="divider"></div>
                    <div class="footer2">
                        <h3>FIND US ON SOCIAL MEDIA</h3>
                        <div class="social">
                            <a href="https://www.facebook.com/" aria-label="Facebook" target="_blank"><img src="{% static 'core/images/f_logo.png' %}" title="Facebook"/></a>
                            <a href="https://www.twitter.com/" aria-label="X" target="_blank"><img src="{% static 'core/images/x_logo.png' %}" title="X"/></a>
                            <a href="https://www.linkedin.com/" aria-label="LinkedIn" target="_blank"><img src="{% static 'core/images/l_logo.png' %}" title="LinkedIn"/></a>
                        </div>
                        <br><br>
                        <h3>CONTACT D4AI</h3>
                        <!-- <a href="tel:+254723713247">(+254)723713247</a> -->
                        <!-- <br> -->
                        <!-- <br> -->
                        <a href="mailto:info@d4ai.org" aria-label="info@d4ai.org">info@d4ai.org</a>

                    </div>
                    <div class="divider"></div>
                    <div class="footer3">
                        <h3>SUBSCRIBE TO OUR NEWSLETTER</h3>
                        <form class="subscribe" method="post">{% csrf_token %}
                            <input type="text" placeholder="First name" name="first_name" required>
                            <input type="text" placeholder="Last name" name="last_name" required>
                            <input type="email" placeholder="Email address" name="email" required>
                            <button type="submit" name="submit_subscribe">Sign up</button>
                        </form>
                    </div>
                    <div class="divider"></div>
                    <div class="footer4">
                        <h3>QUICK LINKS</h3>
                        <ul>
                            {% block quicklinks %}
                            {% endblock quicklinks %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer">© 2023 Data for African Impact</div>
        </footer>
        <div id="cookie-notice" class="cn-position">
            <div class="cn-container">
                <span class="cn-text">By using the D4AI website, you agree to the website <a href="#" aria-label="Terms" target="_blank">Terms</a>, the <a href="#" aria-label="Privacy Policy" target="_blank">Privacy Policy</a>, and the use of cookies.</span>
                <span class="cn-button-container"><a class="cn-button" href="#" aria-label="Accept">Accept</a></span>
                <span id="cn-close-notice" class="cn-close-icon"></span>
            </div>
        </div>      
    </body>
</html>
{% endspaceless %}
