{% spaceless %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-06HXZLTFRH"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-06HXZLTFRH');
        </script>

        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

        <!-- CSRF Token Meta Tag -->
        <!-- <meta name="csrf-token" content="{% csrf_token %}"> -->

        <link rel="canonical" href="https://www.d4ai.org/" />
        <meta name="description" content="We are an organization dedicated to leveraging data and technology to drive positive change and empower communities across Africa.">
        <meta name="author" content="Data for African Impact"/>
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'core/images/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'core/images/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'core/images/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'core/site.webmanifest' %}">

        <link rel="stylesheet" type="text/css" href="{% static 'core/styles/base.css' %}">

        {% block head %}
        {% endblock head %}
        
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="{% static 'core/scripts/main.js' %}"></script>
    </head>
    <body>
        {% if messages %}
        {% for message in messages %}
        <div class="popmessage">
            <section>
                <img src="{% static 'core/assets/confirmed.svg' %}" alt="notification icon" >
                <span class="message">{{ message }}</span>
            </section>
        </div>
        {% endfor %}
        {% endif %}

        <noscript>
            <div style="display: flex; place-content: center; background-color: tomato;">
                <p style="color: #fff; padding: 7px 0">Javascript not supported on your browser, please enable Javascript in order to fully utilize the website</p>
            </div>
        </noscript>

        <div class="hamburger">
            <input type="checkbox" id="menu-btn" class="menu-btn">
            <label for="menu-btn" class="menu-icon">
                <span class="navicon"></span>
            </label>
        </div>

        <header>
            <div>
                <div class="header">
                    <a href="{% url 'core:index' %}" aria-label="Home" >
                        <div id="header_logo"></div>
                    </a>
                </div>
                <div id="tagline">Transforming Africa Through Data</div>
            </div>
            <nav>
                <div class="menu_links">
                    <a class="nav_url" href="{% url 'core:about' %}" aria-label="About Us">About Us</a>
                    <div class="explore_url"></div>
                    <div class="url_container">
                        <a class="dropdown_url" href="{% url 'core:about' %}#story" aria-label="Our story">Our story</a>
                        <a class="dropdown_url" href="{% url 'core:about' %}#team" aria-label="Meet the team">Meet the team</a>
                    </div>
                </div>
                {#<div class="menu_links"><a class="nav_url" href="{% url 'core:projects' %}">Projects</a></div>#}
                <div class="menu_links">
                    <a class="nav_url" href="{% url 'core:involved' %}">Work with Us</a>
                    <div class="explore_url"></div>
                    <div class="url_container">
                        <a class="dropdown_url" href="{% url 'core:involved' %}#careers" aria-label="D4AI Careers">Careers</a>
                        <a class="dropdown_url" href="{% url 'core:involved' %}#volunteer" aria-label="Volunteer">Become a volunteer</a>
                    </div>
                </div>
                <div class="menu_links">
                    <a class="nav_url" href="{% url 'core:blog' %}" aria-label="News & events">News & Events</a>
                </div>
                <div class="menu_links">
                    <a class="nav_url" href="{% url 'core:contact' %}" aria-label="Contact Us">Contact Us</a>
                </div>
            </nav>
        </header>

        {% block page %}
        {% endblock page %}

        <footer>
            <div class="subscribe-container">
                <h3>Subscribe to our Newsletter</h3>
                <form method="post" id="subscribeForm">
                    {% csrf_token %}
                    {#<input type="text" placeholder="First name" name="first_name" id="firstName" required><input type="text" placeholder="Last name" name="last_name" id="lastName" required>#}
                    <input type="email" placeholder="Email address" name="email" id="email" required>
                    <button type="submit" name="submit_subscribe" id="subscribeSubmitButton" disabled>Sign up</button>
                </form>
            </div>
            <div class="footer_container">
                <div class="item1">
                    <img src="{% static 'core/images/logo.png' %}" alt=""/>
                </div>
                <div class="item2">
                    <div class="footer_hotlinks">
                        <h3>Explore</h3>
                        <div class="links">
                            <a href="{% url 'core:about' %}#focus" aria-label="News & events">What we do</a>
                            <a href="{% url 'core:blog' %}" aria-label="News & events">News</a>
                            {# <a href="{% url 'core:projects' %}">Projects</a> #}
                        </div>
                    </div>
                    <div class="footer_hotlinks">
                        <h3>About D4AI</h3>
                        <div class="links">
                            <a href="{% url 'core:about' %}" aria-label="About us">Who we are</a>
                            <a href="{% url 'core:contact' %}" aria-label="Contact Us">Contact us</a>
                        </div>
                    </div>
                    <div class="footer_hotlinks">
                        <h3>Get involved</h3>
                        <div class="links">
                            <a href="{% url 'core:involved' %}#careers" aria-label="D4AI Careers">D4AI Careers</a>
                            <a href="{% url 'core:involved' %}#volunteer" aria-label="Volunteer">Volunteer</a>
                            {#<a href="{% url 'core:involved' %}#donate" aria-label="Volunteer">Donate</a>#}
                        </div>
                    </div>
                </div>
                <div class="footer_connects">
                    <div class="social">
                        {#<a href="https://www.facebook.com/d4aiafrica" aria-label="Facebook" target="_blank"><img src="{% static 'core/assets/Facebook_Logo.png' %}" title="Facebook"/></a>#}
                        {#<a href="https://www.twitter.com/d4aiafrica" aria-label="X" target="_blank"><img src="{% static 'core/assets/x-logo-black.png' %}" title="X"/></a>#}
                        <a href="https://www.linkedin.com/company/data-for-african-impact/" aria-label="LinkedIn" target="_blank"><img src="{% static 'core/assets/LinkedIn.png' %}" title="LinkedIn"/></a>
                    </div>
                    <a href="mailto:info@d4ai.org" aria-label="info@d4ai.org">info@d4ai.org</a>
                </div>
                <div class="footer_lower">
                    <a href="#" aria-label="Privacy policy">Privacy Policy</a>
                    <address>Ziwani Estate, Kiambu County, Kenya</address>
                    <p class="footer_copyright">© 2023 Data for African Impact</p>
                </div>
            </div>
        </footer>
    </body>
</html>
{% endspaceless %}
