{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}

{% block head %}
<title>News & Events | Data for African Impact</title>
<link rel="stylesheet" type="text/css" href="{% static 'core/styles/blog.css' %}">
{% endblock head %}

{% block menu %}
<a href="{% url 'core:index' %}">Home</a>
<a href="{% url 'core:about' %}">About Us</a>
<a href="{% url 'core:projects' %}">Projects</a>
<a href="{% url 'core:involved' %}">Get Involved</a>
<a href="{% url 'core:blog' %}">News & Events</a>
<a href="{% url 'core:contact' %}">Contact Us</a>
{% endblock menu %}

{% block page %}
<div class="title">
    <h1>News & Events</h1>
</div>

<div class="blog">
    <article>
        <a href="article.html">
            <div class="feature_image"></div>
        </a>
        <a href="article.html">
            <div>
                <h2>Dummy post</h2>
                <br>
                <div>This is a sample blog post of lorem ipsum.</div>
                <br>
                <div class="meta">Written by Author | May 1 2023</div>
            </div>
        </a>
    </article>

    <article>
        <a href="article.html">
            <div class="feature_image"></div>
        </a>
        <a href="article.html">
            <div>
                <h2>Dummy post</h2>
                <br>
                <div>This is a sample blog post of lorem ipsum.</div>
                <br>
                <div class="meta">Written by Author | May 1 2023</div>
            </div>
        </a>
    </article>

    <article>
        <a href="article.html">
            <div class="feature_image"></div>
        </a>
        <a href="article.html">
            <div>
                <h2>Dummy post</h2>
                <br>
                <div>This is a sample blog post of lorem ipsum.</div>
                <br>
                <div class="meta">Written by Author | May 1 2023</div>
            </div>
        </a>
    </article>

    <article>
        <a href="article.html">
            <div class="feature_image"></div>
        </a>
        <a href="article.html">
            <div>
                <h2>Dummy post</h2>
                <br>
                <div>This is a sample blog post of lorem ipsum.</div>
                <br>
                <div class="meta">Written by Author | May 1 2023</div>
            </div>
        </a>
    </article>
</div>
{% endblock page %}

{% block quicklinks %}
<li><a href="{% url 'core:index' %}">Home</a></li>
<li><a href="{% url 'core:about' %}">About Us</a></li>
<li><a href="{% url 'core:projects' %}">Projects</a></li>
<li><a href="{% url 'core:involved' %}">Get Involved</a></li>
<li><a href="{% url 'core:blog' %}">News & Events</a></li>
<li><a href="{% url 'core:contact' %}">Contact Us</a></li>
{% endblock quicklinks %}
