{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}

{% block head %}
<title>Contact us | Data for African Impact</title>
<link rel="stylesheet" type="text/css" href="{% static 'core/styles/contact.css' %}">
{% endblock head %}

{% block menu %}
<a href="{% url 'core:index' %}" aria-label="Home">Home</a>
<a href="{% url 'core:about' %}" aria-label="About Us">About Us</a>
<!-- <a href="{% url 'core:projects' %}">Projects</a>
<a href="{% url 'core:involved' %}">Get Involved</a> -->
<a href="{% url 'core:blog' %}" aria-label="News & events">News & Events</a>
<a href="#contact" aria-label="Contact Us">Contact Us</a>
{% endblock menu %}

{% block page %}
<div class="title">
    <h1>Contact Us</h1>
</div>

<div class="contact" id="contact">
    <form class="form" method="post">{% csrf_token %}
        <div>
            <label for="fname">Full Name (required)</label>
            <input type="text" name="full_name" id="fname" required maxlength="200">
        </div>
        <div>
            <label for="contact-email">Email Address (required)</label>
            <input type="email" name="email" id="contact-email" required>
        </div>
        <div>
            <label id="message" for="contact-message">Message (required)</label>
            <textarea rows="10" name="message" id="contact-message" required maxlength="500" type="text" aria-labelledby="message"></textarea>
        </div>
        <button type="submit" name="submit_contact">Submit</button>
    </form>
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.8620342182953!2d36.654773175909405!3d-1.2544797987335743!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f1f78eb4c972b%3A0xca07c188088b5f3f!2sZiwani%20Estate%20kikuyu!5e0!3m2!1sen!2ske!4v1701946386239!5m2!1sen!2ske"
            title="Data for African Impact HQ"
            width="100%"
            height="100%"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
</div>
{% endblock page %}

{% block quicklinks %}
<a href="{% url 'core:about' %}" aria-label="About us">About us</a>
<a href="#contact" aria-label="Contact us">Contact us</a>
{% endblock quicklinks %}
