{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}

{% block head %}
<title>Projects | Data for African Impact</title>
<link rel="stylesheet" type="text/css" href="{% static 'core/styles/projects.css' %}">
<script>
    function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
        center: { lat: YOUR_LATITUDE, lng: YOUR_LONGITUDE },
        zoom: YOUR_ZOOM_LEVEL
      });

      // Add additional map customization or functionality here
    }
  </script>
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap" async defer></script>
{% endblock head %}

{% block menu %}
<a href="{% url 'core:index' %}">Home</a>
<a href="{% url 'core:about' %}">About Us</a>
<!-- <a href="{% url 'core:projects' %}">Projects</a>
<a href="{% url 'core:involved' %}">Get Involved</a> -->
<a href="{% url 'core:blog' %}">News & Events</a>
<a href="{% url 'core:contact' %}">Contact Us</a>
{% endblock menu %}

{% block page %}
<div class="title">
    <h1>Projects</h1>
</div>

<div class="impact">
    <h1>IMPACT MAP</h1>
    <div id="map"></div>
    <br>
    <span style="color: black;"><a href="https://console.cloud.google.com/" target="_blank" >Missing Google Maps API key</a></span>
</div>

<div class="divider"></div>

<div class="resources">
    <div class="testimonials">
        <h1>WHAT THEY HAVE SAID</h1>
        <div class="container">
            <div class="item">
                <div class="quote">
                    <img src="{% static 'core/images/quote.svg' %}">
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                </div>
                <div class="custom-shape-divider-bottom-1687353486">
                    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                        <path d="M649.97 0L599.91 54.12 550.03 0 0 0 0 120 1200 120 1200 0 649.97 0z" class="shape-fill"></path>
                    </svg>
                </div>
                <div class="quote-p">
                    <div class="snapshot"></div>
                    <p>Jane Doe</p>
                </div>
            </div>

            <div class="item">
                <div class="quote">
                    <img src="{% static 'core/images/quote.svg' %}">
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                </div>
                <div class="custom-shape-divider-bottom-1687353486">
                    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                        <path d="M649.97 0L599.91 54.12 550.03 0 0 0 0 120 1200 120 1200 0 649.97 0z" class="shape-fill"></path>
                    </svg>
                </div>
                <div class="quote-p">
                    <div class="snapshot"></div>
                    <p>John Doe</p>
                </div>
            </div>

            <div class="item">
                <div class="quote">
                    <img src="{% static 'core/images/quote.svg' %}">
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                </div>
                <div class="custom-shape-divider-bottom-1687353486">
                    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                        <path d="M649.97 0L599.91 54.12 550.03 0 0 0 0 120 1200 120 1200 0 649.97 0z" class="shape-fill"></path>
                    </svg>
                </div>
                <div class="quote-p">
                    <div class="snapshot"></div>
                    <p>John Doe</p>
                </div>
            </div>
            
        </div>
    </div>
</div>
{% endblock page %}

{% block quicklinks %}
<li><a href="{% url 'core:index' %}">Home</a></li>
<li><a href="{% url 'core:about' %}">About Us</a></li>
<!-- <li><a href="{% url 'core:projects' %}">Projects</a></li>
<li><a href="{% url 'core:involved' %}">Get Involved</a></li> -->
<li><a href="{% url 'core:blog' %}">News & Events</a></li>
<li><a href="{% url 'core:contact' %}">Contact Us</a></li>
{% endblock quicklinks %}
