.about {
    padding: 0 19vw;
    text-align: center;
}

.about > h1 {
    text-align: center;
    padding: 6vh 0;
}

.about div p {
    padding: 1vh;
}

.about .about1 {
    margin: 10vh 0;
    display: grid;
    grid-template-columns: 1fr;
    display: -webkit-grid;
    -webkit-grid-template-columns: 1fr;
    display: -ms-grid;
    -ms-grid-columns: 1fr;
    gap: 0;
}

.about .about1 .item {
    height: 400px;
    padding: 14px 0;
    background-image: var(--banner-gradient);
    color: #FFFFFF;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-flex-align: center;
}

.about .about1 .item h1 {
    text-transform: uppercase;
}

.about .about1 .item .container {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    justify-content: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
}

.about .about1 .item:nth-child(2) {
    background-image: none;
    background-color: #FFFFFF;
    color: #000000;
}

.about .about1 .item:nth-child(2) .container p {
    padding: 4vh 0;
    color: #000000;
}

.about .team {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    justify-content: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
}

.about .team div {
    margin: 20px;
    max-width: 370px;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    -webkit-flex-align: center;
    -ms-flex-align: center;
}

.about .team div img {
    margin-bottom: 10px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px #00000066 solid;
    aspect-ratio: 1 / 1;
}

.about .team div img p {
    padding-top: 10px;
    color: #000000;
}

@media only screen and (max-width: 960px) {
    .about {
        padding: 0 3vw;
    }

    .title {
        padding: 3vh 0;
    }
    
    .about .about1 {
        grid-template-columns: 1fr;
        -webkit-grid-template-columns: 1fr;
        -ms-grid-columns: 1fr;
    }

    .about .about1 .item {
        width: calc(100vw - 6vw);
        width: -webkit-calc(100vw - 6vw);
        width: -ms-calc(100vw - 6vw);
    }

    .about .team {
        display: flex;
        display: -webkit-flex;
        display: -ms-flexbox;
	    flex-wrap: wrap;
        justify-content: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
    }

    .about .team div img {
        width: 100px;
        height: 100px;
    }
}
