:root{
    --color-white: #ffffff;
    --color-black: #000000;
    --color-dark-grey: #202020;
    --color-cream: #f2f2f2;
    --color-green:#33a74f;
    --color-yellow:#f2b61b;
    --blue:#4170b7;
    --green:#33a74f;
    --red:#e52127;
    --zinc:#09090b;
    --header-box-shadow: 0px 2px 30px #0000008e;
    --border-bottom: 4px solid #ffffff;
    --border-bottom-hover: 4px solid #e52127;
    --button-disabled: #697b95;
    --button-enabled: var(--green);
    /* --title-gradient: linear-gradient(to bottom , #09090b, #4170b7); */
    /* --banner-gradient: linear-gradient(to bottom, #4170b7ac, #4170b7); */
    /* --banner-gradient: linear-gradient(180deg, #4170b7 0%, #051d41 83.59375%); */
    --primary-font-family: 'Cambria', serif;
    --title-font-family: "Helvetica", sans-serif;
    --secondary-font-family: 'monospace', monospace;
    --footer-string-color: #8e8e8e;

}

* {
    margin: 0;
    padding: 0;
    font-family: var(--primary-font-family);
}

::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #FFFFFF;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
}

@media only screen and (max-width: 810px) {
    p {
        font-size: 0.9rem;
    }
}

/* ==========================================================================
   #Notifications
========================================================================== */

.popmessage {
    display: none;
    position: fixed;
    top: 30px;
    right: 20px;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    box-shadow: 0px 0px 4px 1px #000000cb;
    border: 1px solid #fcc2c3;
    background-color: #fce4e4;
    z-index: 4;
}

.popmessage section {
    width: auto;
    flex-direction: row;
    row-gap: 10px;
    padding: 4px 10px;
    justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    -moz-align-items: center;
    -o-align-items: center;
}

.message {
    color: #000;
    font-size: 1rem;
}

.read-more-button {
    color: var(--blue);
    border: var(--blue) 1px solid;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 1rem;
}

@media only screen and (max-width: 767px) {
    .popmessage {
        top: 30px;
        right: 8px;
        margin: 0.2rem;
    }
    .message {
        color: #000;
    }
    .read-more-button {
        display: flex;
        margin: auto;
    }
}

/* ==========================================================================
   # Header & Navigation
========================================================================== */

header {
    z-index: 3;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    box-shadow: var(--header-box-shadow);
    border-bottom: var(--border-bottom);
    -webkit-border-bottom: var(--border-bottom);
    -moz-border-bottom: var(--border-bottom);
    -ms-border-bottom: var(--border-bottom);
    -o-border-bottom: var(--border-bottom);
    padding: 0 19vw;
    padding-top: 10px;
}

.header {
    height: 120px;
    position: relative;
}

#header_logo {
    background: url("../images/logo.png") no-repeat left center;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -ms-background-size: contain;
    -o-background-size: contain;
    height: 100%;
}

#tagline {
    font-size: 0.9rem;
    margin-bottom: 10px;
}

nav {
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    align-items: center;
    gap: 20px;
}

.menu_links {
    position: relative;
    height: 100%;
    display: inline-flex;
    align-items: center;
    border-bottom: var(--border-bottom);
    -webkit-border-bottom: var(--border-bottom);
    -moz-border-bottom: var(--border-bottom);
    -ms-border-bottom: var(--border-bottom);
    -o-border-bottom: var(--border-bottom);
}

.menu_links:hover {
    border-bottom: var(--border-bottom-hover);
    -webkit-border-bottom: var(--border-bottom-hover);
    -moz-border-bottom: var(--border-bottom-hover);
    -ms-border-bottom: var(--border-bottom-hover);
    -o-border-bottom: var(--border-bottom-hover);
}

.nav_url {
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    font-size: 0.8rem;
    font-family: var(--secondary-font-family);
}

.explore_url {
    background: url("../assets/arrow-expand.svg") no-repeat left center;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -ms-background-size: contain;
    -o-background-size: contain;
    height: 24px;
    width: 24px;
}

.url_container {
    z-index: 2;
    position: absolute;
    display: none;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    top: 103%;
    left: 0;
    background-color: var(--zinc);
    gap: 1rem;
    padding: 1.2rem 0;
    opacity: 0;
    transform: translateY(-10px);
}

.menu_links:hover .url_container {
    display: flex;
    animation: dropdownSlide 0.75s ease forwards;
}

.dropdown_url {
    text-decoration: none;
    text-align: left;
    text-transform: uppercase;
    color: var(--color-white);
    font-size: 0.8rem;
    font-family: var(--secondary-font-family);
    padding: 10px 20px;
    white-space: nowrap;
}

@keyframes dropdownSlide {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media only screen and (max-width: 1080px) {
    header {
        padding: 0 3vw;
        padding-top: 10px;
    }
    .header {
        height: 80px;
    }
    #tagline {
        font-size: 0.8rem;
    }
    .nav_url {
        font-size: 0.7rem;
    }
    .dropdown_url {
        font-size: 0.7rem;
        padding: 10px 20px;
    }
}

@media only screen and (max-width: 767px) {
    header {
        position: relative;
    }
    
    nav {
        position: absolute;
        top: 102%;
        left: 0;
        display: none;
        flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        justify-content: flex-start;
        padding: 20px 0;
        gap: 12px;
        background-color: var(--zinc);
        min-height: 100%;
        width: 100vw;
        z-index: 2;
        overflow-x: hidden;
    }
    
    .menu_links {
        position: relative;
        display: flex;
        flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        border-bottom: none;
        -webkit-border-bottom: none;
        -moz-border-bottom: none;
        -ms-border-bottom: none;
        -o-border-bottom: none;
        width: 100%;
        gap: 10px;
    }

    .menu_links:hover {
        border-bottom: none;
        -webkit-border-bottom: none;
        -moz-border-bottom: none;
        -ms-border-bottom: none;
        -o-border-bottom: none;
    }
    
    .nav_url {
        color: var(--color-white);
        font-size: 2rem;
        font-weight: bold;
        margin-left: 6vw;
        text-align: left;
        text-decoration: none;
        text-transform: capitalize;
        width: 100%;
    }

    .explore_url {
        /* background: url("../assets/arrow_right.svg") no-repeat left center; */
        /* height: 30px; */
        /* width: 30px; */
        display: none;
    }
    
    .url_container {
        /* z-index: 3; */
        /* position: absolute; */
        position: relative;
        /* top: 100%; */
        /* left: 0; */
        /* display: none; */
        display: flex;
        /* background-color: #666666; */
        background-color: none;
        gap: 1rem;
        padding: 1.2rem 0;
        /* opacity: 0; */
        opacity: 1;
        /* transform: translateY(-10px); */
        transform: none;
        width: 100%;
    }
   
    .menu-icon {
        display: block;
    }
}

/* ==========================================================================
# Navigation Icon
========================================================================== */

.hamburger {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 4;
}

.menu-icon {
    cursor: pointer;
    padding: 1.5rem;
    position: relative;
    user-select: none;
    display: none;
}

.menu-icon .navicon {
    background: var(--color-black);
    display: block;
    width: 1.5rem;
    height: .2rem;
    position: relative;
    transition: background .4s ease-out;
}

.menu-icon .navicon::before,
.menu-icon .navicon::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: var(--color-black);
    transition: all .4s ease-out;
}

.menu-icon .navicon::before {
    top: .7rem;
}

.menu-icon .navicon::after {
    top: -.7rem;
}

/* menu btn */
.menu-btn {
    display: none;
}

.menu-btn:checked + .menu-icon .navicon {
    background: transparent;
}

.menu-btn:checked + .menu-icon .navicon::before {
    transform: rotate(-45deg);
}

.menu-btn:checked + .menu-icon .navicon::after {
    transform: rotate(45deg);
}

.menu-btn:checked + .menu-icon .navicon::before,
.menu-btn:checked + .menu-icon .navicon::after {
    top: 0;
}

@media screen and (max-width: 767px) {
    .menu-icon {
        display: block;
    }
}

.menu-btn:checked ~ nav {
    display: flex;
}


/* ==========================================================================
   # Footer
========================================================================== */

footer {
    background-color: var(--color-dark-grey);
    margin-top: 2rem;
}

.subscribe-container {
    background-color: var(--blue);
    padding: 20px 8px;
    text-align: center;
}

.subscribe-container h3 {
    color: #FFFFFF;
    margin-bottom: 1rem;
}

.subscribe-container form {
    max-width: 400px;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    margin: auto;
    gap: 14px;
}

.subscribe-container #subscribeForm input {
    border: none;
    border-radius: 4px;
    color: #000000;
    width: calc(100% - 8px);
    width: -webkit-calc(100% - 8px);
    width: -ms-calc(100% - 8px);
    font-size: 1rem;
    padding: 2px 4px;
}

.subscribe-container form button {
    width: 100%;
    background-color: var(--button-enabled);
    border: none;
    font-size: 1rem;
    color: #FFFFFF;
    padding: 4px 0px;
    cursor: pointer;
}

.subscribe-container form button:disabled {
    background-color: var(--button-disabled);
    cursor: not-allowed; 
}


.footer_container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 40px 19vw;
    column-gap: 2rem;
}

.footer_container .item1 img{
    width: auto;
    height: 120px;
}

.footer_container > .item2 {
    display: grid;
    grid-template-columns: auto auto;
    gap: 2rem;
}

.footer_hotlinks {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer_hotlinks div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer_hotlinks h3 {
    font-size: 0.9rem;
    text-transform: uppercase;
    color: var(--red);
}

.footer_hotlinks a {
    font-size: 0.9rem;
    text-decoration: none;
    color: var(--color-white);
}

.footer_connects {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
}

.footer_connects .social {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    gap: 18px;
}

.footer_connects  a {
    font-size: 0.8rem;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--footer-string-color);
}

.footer_connects .social img {
    height: 20px;
    width: auto;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

.footer_lower {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-end;
}

.footer_lower  a {
    font-size: 0.8rem;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--footer-string-color);
}


.footer_lower address {
    font-size: 0.8rem;
    color: var(--footer-string-color);
}

.footer_copyright {
    font-size: 0.8rem;
    color: var(--color-white);
}

@media only screen and (min-width: 768px) and (max-width: 988px) {
    .footer_container {
        padding: 40px 3vw;
    }
}

@media only screen and (max-width: 1080px) {
    .footer_container {
        grid-template-columns: auto;
        padding: 40px 3vw;
        gap: 2rem;
    }
    .footer_container div {
        justify-items: center;
        text-align: center;
    }
    .footer_connects {
        padding-top: 2vh;
        align-items: center;
    }
    .footer_lower {
        align-items: center;
    }
}
