.blog {
    margin: 6vh 19vw;
}

.blog article {
    display: grid;
    display: -webkit-grid;
    display: -ms-grid;
    grid-template-columns: 1fr 1fr;
    -webkit-grid-template-columns: 1fr 1fr;
    -ms-grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

.blog article a {
    text-decoration: none;
    object-fit: fill;
    object-position: center;
    aspect-ratio: 3 / 2;
    -webkit-aspect-ratio: 3 / 2;
    -moz-aspect-ratio: 3 / 2;
    -ms-aspect-ratio: 3 / 2;
    -o-aspect-ratio: 3 / 2;
    overflow: hidden;
}

.blog article .feature_image {
    height: 100%;
}

.blog article h2, div {
    color: #000000;
}

.blog article a:hover h2 {
    text-decoration: underline;
}

.blog article .meta {
    color: gray;
    font-size: 12px;
}

@media only screen and (min-width: 768px) and (max-width: 960px) {
    .blog {
        padding: 4vh 3vh;
    }
}

@media only screen and (max-width: 767px) {
    .blog {
        margin: 4vh 3vh;
    }
    .blog article {
        grid-template-columns: 1fr;
        -webkit-grid-template-columns: 1fr;
        -ms-grid-template-columns: 1fr;
        gap: 30px;
    }
}
