.contact {
    padding: 0 19vw;
    margin: 24px 0;
}


.page-title h1 {
    font-family: var(--title-font-family);
}

.page-title h1:nth-child(2) {
    color: var(--red);
    margin-bottom: 30px;
}

.contact_form {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    gap: 30px;
    width: 100%;
}

.contact_form div {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
}

.contact_form div span {
    color: #53565f;
    font-size: 0.8rem;
    font-weight: 700;
}

.contact_form div input {
    color: #000000;
    font-size: 1rem;
    background-color: #00000023;
    border: none;
    border-bottom: 1px #000000 solid;
    padding: 10px 0;
}

.contact_form div textarea {
    color: #000000;
    font-size: 1rem;
    background-color: #00000023;
    border: none;
    border-bottom: 1px #000000 solid;
    padding: 10px 0;
}

.contact_form button {
    cursor: pointer;
    padding: 14px 20px;
    border: none;
    background-color: var(--button-disabled);
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1rem;
}

.contact_form button:hover {
    background-color: var(--button-enabled);
}

.map {
    object-fit: cover;
    -o-object-fit: cover;
    -webkit-object-fit: cover;
    -moz-object-fit: cover;
    object-position: center;
    -o-object-position: center;
    -webkit-object-position: center;
    -moz-object-position: center;
    aspect-ratio: 1 / 1;
    -webkit-aspect-ratio: 1 / 1;
    width: 100%;
    max-height: 300px;
    margin-top: 2rem;
}

/* Cross-Browser Compatibility for Media Query */
@media only screen and (max-width: 1080px) {
    .contact {
        padding: 0 3vw;
    }
    .contact_form {
        display: grid;
        display: -webkit-grid;
        display: -ms-grid;
        grid-template-columns: 1fr;
        -webkit-grid-template-columns: 1fr;
        -ms-grid-template-columns: 1fr;
        gap: 30px;
        width: calc(100vw - 6vw);
    }
}
