.cookies {
    display: none;
    z-index: 3;
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #FFFFFF;
    padding: 30px;
    overflow-x: hidden;
}
.cookies img {
    position: absolute;
    right: 80px;
    top: 8px;
    height: 20px;
    cursor: pointer;
}

.cookies h3 {
    font-family: NotoSerif;
    font-size: 16px;
    font-weight: 700;
    color: #000000;
}

.cookies .container {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;    
    flex-direction: row;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    gap: 16px;
    padding: 0;
    margin: 0;
    width: calc(100% - 60px);
    width: -webkit-calc(100% - 60px);
    width: -ms-calc(100% - 60px);
}

.cookies .container p {
    font-family: CrimsonPro;
    font-size: 16px;
    font-weight: 200;
    text-align: left;
    color: #000000;
}

.cookies .container a {
    text-decoration: none;
    font-family: CrimsonPro;
    font-size: 16px;
    color: #000000;
}

.cookies .container div {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;          
    flex-direction: column;
    gap: 20px;
}

.cookies .container button {
    background-color: #4170b7;
    border: none;
    padding: 8px 10px;
    width: 200px;
    font-family: CrimsonPro;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
}

@media only screen and (max-width: 720px) {
    .cookies .container {
        flex-direction: column;
    }

    .cookies .container button {
        width: 100%;
    }
}