header {
    background-color: #FFFFFF;
    /* box-shadow: 0 6px 10px #00000079; */
    position: relative;
    border-bottom: var(--border-bottom);
    -webkit-border-bottom: var(--border-bottom); /* Safari */
    -moz-border-bottom: var(--border-bottom); /* Firefox */
    -ms-border-bottom: var(--border-bottom); /* Internet Explorer */
    -o-border-bottom: var(--border-bottom); /* Opera */
}

.header {
    height: 120px;
    width: 100%;
    position: relative;
}

#header_logo {
    background: url("../images/logo.png") no-repeat left center;
    background-size: contain;
    height: 100%;
    margin: 10px 0 20px 19vw;
    -webkit-background-size: contain; /* Safari */
    -moz-background-size: contain; /* Firefox */
    -ms-background-size: contain; /* Internet Explorer */
    -o-background-size: contain; /* Opera */
}

#nav {
    display: none;
    position: absolute;
    top: 10%;
    right: 3vw;
    height: 30px;
    cursor: pointer;
}

#tagline {
    font-family: 'Arial';
    font-size: 1rem;
    color: #000000;
    margin: 0 0 10px 19vw;
}

@media only screen and (max-width: 960px) {
    .header {
        height: 80px;
    }
    #header_logo {
        margin: 10px 0 10px 3vw;
    }
    #tagline {
        font-size: 0.9rem;
        margin-left: 3vw;
    }
}

@media only screen and (max-width: 767px) {
    #nav {
        display: block;
    }
}
